<div class="footerbis">
  <div class="footerbis-copyright">
    <%= t(:pied) %>
      <%= link_to t(:mentionslegales_link), mentionslegales_path, class:"mentions_link" %>
  </div>
<!--   <div class="footerbis-links">
    <a href="" target="blank"><i class="fab fa-instagram"></i></a>
  </div> -->
</div>
