<div id="footerinfo">
  <div class="container">
  <div class="flexbox">
    <div class="entreprise">
      <h2>TECNOBAT</h2>
      <h3>L'art et la Tradition <br>de la Façade Mentonnaise</h3><br>
      <h4>Entreprise générale de bâtiment</h4>
      <h4>Ravalement de façades</h4>
      <h4>Rénovation</h4>
      <h4>Maçonnerie générale</h4>
    </div>
    <div id="map" class="staticmap">
    </div>
    <div class="info">
      <h4><i class="fas fa-map-marker-alt"></i> 28 rue Longue 06500 MENTON</h4>&nbsp;
      <h4><i class="fas fa-envelope-square"></i> odauriac@tecnobat-menton.com</h4> &nbsp;
      <h4><i class="fas fa-phone-square"></i> +33 4 83 33 25 70 </h4> &nbsp;
      <h4><i class="fas fa-mobile-alt"></i> +33 6 42 78 82 66</h4> &nbsp;
    </div>
  </div>
</div>
</div>

