<div id="homebanner">
  <h2>TECNOBAT est une entreprise artisanale avec plus de 35 ans d’expérience</h2>
</div>
<div class="container offset">
  <div class="flexboxwrap stretch">
    <div class="homecard">
      <h3> <%= image_tag 'facade.svg', class:'homeicon' %> <br><br>Ravalement de façades</h3>
      <ul>
        <li>badigeon de chaux</li>
      </ul>
    </div>
    <div class="homecard">
      <h3> <%= image_tag 'brick.svg', class:'homeicon' %> <br><br>Maçonnerie générale</h3>
      <ul>
        <li>Rénovation de murs</li>
        <li>Sols</li>
        <li>Clôture</li>
        <li>Doublages</li>
      </ul>
    </div>
    <div class="homecard">
      <h3> <%= image_tag 'painting.svg', class:'homeicon' %> <br><br>Peinture</h3>
      <ul>
        <li>Façades</li>
        <li>Fresques</li>
        <li>Fenêtres</li>
        <li>Persiennes</li>
        <li>Décoratiion intérieur</li>
      </ul>
    </div>
    <div class="homecard">

      <h3> <%= image_tag 'roof.svg', class:'homeicon' %> <br><br>Toitures</h3>
      <ul>
        <li>Tous types de tuiles</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="hometext">
    <p>Nous sommes spécialisés dans la rénovation des maisons traditionnelles Mentonasques dont les façades à la chaux colorent la vieille ville historique.</p>
  </div>
  <div class="divider"></div>
  <div class="hometext">
    <p>La société créée par Jérôme Surace «MIMO» en 1976, a été reprise en 2010 par Olivier Dauriac avec comme objectif principal de maintenir les engagements pris en terme de respect du travail bien fait et de la qualité de services.</p>
  </div>
  <div class="divider"></div>
  <div class="hometext">
    <p>La fidélité de nos clients, particuliers et syndics partenaires étant notre meilleur atout, nous restons à l’écoute de leurs attentes et sommes réactifs vis-à-vis de leurs besoins.</p>
  </div>
  <div class="divider"></div>
  <div class="hometext">
    <p>Nous intervenons principalement sur les villes de Menton, Castellar, Sospel, Gorbio et Roquebrune-Cap Martin.</p>
  </div>
  <br>
</div>
