<div class="navspace"></div>
<div id="banner2"></div>
<div class="container offset">
  <div class="flexboxwrap stretch">
    <div class="servicescard">
      <h3><%= image_tag 'support.svg', class:'icon2' %> <br><br>Nos Services</h3>
      <ul>
        <li>Diagnostic : (toiture – façade - infiltration - vrd)</li><br>
        <li>Aide aux démarches administratives (autorisations et subventions)</li><br>
        <li>Recherche de matériaux anciens et de teintes.</li><br>
        <li>Intervention d’urgence sur sinistres – bâchage de toiture</li>
      </ul>
    </div>
    <div class="servicescard">
      <h3><%= image_tag 'guarantee.svg', class:'icon2' %> <br><br>Nos Garanties</h3>
      <ul>
        <li>Respect des engagements : Rapidité de réponse, devis et délais</li><br>
        <li>Garantie décennale et responsabilité civile</li><br>
        <li>Garantie Artisanale de la chambre des métiers</li>
      </ul>
    </div>
  </div>
  <h1>Nos Savoir-Faire</h1>
</div>
