  <div class="navspace"></div>
<div id="banner">
  <div class="flexcontact">
    <%= cl_image_tag("tecnobat/contact", alt:"contact door", class:"contactdoor") %>
    <div>
      <h1><%= t(:contact_nous) %></h1>
      <%= render 'shared/form' %>
    </div>
  </div>

</div>
