#banner {
  // background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(asset_path("banniere.png"));
  // background-size: cover !important;
  // background-repeat: no-repeat;
  // background-position: 50% 50% ;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#homebanner {
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(asset_path("menton.jpg"));
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 50% ;
  text-align: center;
  height:60vh;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size:50px ;
  }
}

#banner2 {
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(asset_path("NosServices.jpg"));
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 50% ;
  height:60vh;
}

#banner3 {
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(asset_path("menton.jpg"));
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 50% ;
  height:60vh;
}

.offset {
  margin-top: -7em;
}

.offsetbis {
  margin-top: -13em;
}

.divider {
  width:60px !important;
  border-bottom:solid 5px #6C809A;
  margin: 25px 0 25px 0;
}

.dividercenter {
  width:60% !important;
  border-bottom:solid 5px #6C809A;
  margin: 25px auto 25px auto;
}
