#banner {
  // background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(asset_path("banniere.png"));
  // background-size: cover !important;
  // background-repeat: no-repeat;
  // background-position: 50% 50% ;
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#homebanner {
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(asset_path("menton.jpg"));
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 50% ;
  text-align: center;
  height:60vh;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offset {
  margin-top: -7em;
}

.homecard {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
  border-bottom: solid 10px #6C809A;
  max-width:230px;
  h3 {
    text-align:center;
  }
  ul {
    padding:10px;
  }
  li {
    color: #717171;
    font-size:17px;
  }
}

.divider {
  width:60px !important;
  border-bottom:solid 5px #6C809A;
  margin: 25px 0 25px 0;
}

.homeicon {
  height:70px;
}
