.homecard {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
  border-bottom: solid 10px #6C809A;
  width:230px;
  height:360px;
  transition: all 0.1s ease-in-out;
  h3 {
    text-align:center;
  }
  ul {
    padding:10px;
  }
  li {
    color: #717171;
    font-size:17px;
  }
}

.servicescard {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
  border-bottom: solid 10px #6C809A;
  width:400px;
  height:540px;
  transition: all 0.1s ease-in-out;
  h3 {
    text-align:center;
  }
  ul {
    padding:20px 10px 10px 40px;
  }
  li {
    color: #717171;
    font-size:17px;
  }
}

.realcard {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
  border-bottom: solid 10px #6C809A;
  width:270px;
  height:455px;
  transition: all 0.1s ease-in-out;
  h3 {
    text-align:center;
  }
  p {
    color: #717171;
    font-size:17px;
  }
}

.servicescard:hover{
  transition: all 0.1s ease-in-out;
  margin-top: 10px;
}

.homecard:hover{
  transition: all 0.1s ease-in-out;
  margin-top: 10px;
}

.realcard:hover{
  transition: all 0.1s ease-in-out;
  margin-top: 10px;
}


.homeicon {
  height:70px;
}

.icon2 {
  height:90px;
}

.textcard{
  width: 500px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}
