/* Main navbar */
.navspace {
  height:50px;
}
.navbar-tjd {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  background: #FBFEF9;
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0.72;
  @include md {
    justify-content:space-around;
  }
}

.navbar-tjd:hover{
  opacity:1;
}

/* Logo */

.navbar-tjd-brand {
  // flex-grow:1;
}

.logonav {
  height: 55px;
  @include sm {
    height: 30px;
  }
}

/* User Avatar */
.navbar-tjd .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-tjd-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar-tjd item */
.navbar-tjd-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-tjd-flag {
  cursor: pointer;
  padding : 5px;
}

/* Navbar-tjd link */
.navbar-tjd-link {
  color: #201F1E;
  font-size: 14px;
  transition: all 0.3s ease;
}
.navbar-tjd-link:hover {
  color: #8C1500;
  text-decoration: none;
}

.navbar-tjd-link:focus {
  color: white;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-tjd-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  background: white;
}
.navbar-tjd-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #8C1500;
  font-size: 14px;
  line-height: 35px !important;
  padding: 20px 20px;
}
.navbar-tjd-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #857168 !important;
}
.navbar-tjd-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
